dist
dist-*
distvex/
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
stack.yaml
*.swm
*.swo
*.swp
test_results/**
lib/
lib64
pyvenv.cfg
bin/
output.arrow
golden/binout/
golden/jsonout/
binary-analysis/
original.arrow
output.hex.txt
list_of_dict_string.arrow
